# this lets us use rails console etc when ssh'd onto an EB machine
# cd /var/app/current (or, for a failed deploy, cd /var/app/staging)
# bundle exec rails c
commands:
    setvars:
        command: rm -rf /etc/profile.d/sh.local && /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
packages:
    yum:
        jq: []