// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

@import "shared/colors";

// Wenn customizations
$body-background-color: $brand-primary;
$primary-color: #50C8E6;
$secondary-color: #50C8E6; ///######
$text-color: #393972;
$link-color: #92A5F8;
$section-header-text-color: $primary-color;
$current-menu-item-background: lighten($primary-color, 7%);
$hover-menu-item-background: lighten($primary-color, 7%);
$table-stripe-color: #F6F8FF;
$table-selected-color: darken($table-stripe-color, 6%);
$error-color: #5F2A39;
$blank-slate-primary-color: #AAA;
$breadcrumbs-color: #8a949e;
$breadcrumbs-separator-color: #aab2ba;
$required-field-marker-color: #aaa;
$form-label-color: darken($section-header-text-color, 10%);
$page-header-text-color: #FFF;


// Active Admin's got SASS!
@import "active_admin/mixins";

// Wenn customizations
@mixin text-shadow($color: #fff, $x: 0, $y: 1px, $blur: 0) {
  text-shadow: none;
}

@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

// active admin erroneously overrides this
.attributes_table table th, .attributes_table table td {
  padding: 8px 12px 6px 12px !important;
}

table.index_table {
  tr.odd td { background: darken($table-stripe-color, 3%); }

  tr.selected td { background: $table-selected-color !important; }
}

form input[type=date] {
  // fix width bug in base styles
  width: unset;
}

div.markdown {
  * {
    color: black;
  }
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
  ul, ol {
    display: revert;
    padding: revert;
    margin: revert;
  }
  ol { list-style: revert; }
  ul { list-style: disc; }
  li {
    display: revert;
    padding: revert;
  }
}
form {
  .markdownlive-preview {
    @extend textarea;
    @extend div.markdown;
  }
}
